*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  outline: none;
  list-style:  none;
  font-family: 'Nunito', sans-serif;
}

:root {
    /**UI Font Weights**/
    --font-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-extrabold: 800;
    --weight-black: 900;
    --weight-1000: 1000;

    /**UI Font Sizes **/
    --font-10: 10px;
    --font-12: 12px;
    --font-13: 13px;
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-21: 21px;
    --font-24: 24px;
    --font-30: 30px;
    --font-52: 52px;

    /** UI Colors**/
    --color-primary: #346AF2;
    --color-border: #E3E3E3;
    --color-white: #ffffff;
    --color-field-hover: #94BDFF;
    --color-black: #000000;
    --color-purple: #DF50F6;
    --color-purple-light: #FFE3FF;
    --color-yellow: #F2BB47;

    /** UI Spacings **/
    --spacing-50: 50px;
    --spacing-45: 45px;
    --spacing-40: 40px;
    --spacing-35: 35px;
    --spacing-30: 30px;
    --spacing-25: 25px;
    --spacing-20: 20px;
    --spacing-15: 15px;
    --spacing-10: 10px;
    --spacing-5: 5px;

    /** UI Effects **/
    --shadow-container: 0px 10px 86px 10px rgba(52, 106, 242, 0.1);
    ;
    --shadow-button: 0px 5px 21px 0px rgba(52, 106, 242, 0.36);

    /** UI Border Radius **/
    --radius-container: 46px;
    --radius-button: 100px;
    --radius-input: 10px;

    /** UI Heights **/
    --height-60: 60px;
    --height-55: 55px;
    --height-50: 50px;
    --height-40: 40px;
}

/*** General Component Classes ***/

.main {
    height: 100vh;
    overflow-y: auto;
}

.logo {
    width: 150px;
}

a {
    color: var(--color-black);
}

a:hover {
    color: var(--color-primary);
}

/*= Buttons =*/
.button-primary {
    height: var(--height-50);
    border-radius: var(--radius-button);
    color: var(--color-white);
    background-color: var(--color-primary);
    border:  1px solid var(--color-primary);
    padding: 18px;
    min-width: 100px;
    font-size: var(--font-18);
    width: 100%;
    cursor: pointer;
}

.button-primary:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
}


.button-secondary {
    height: var(--large-50);
    border-radius: var(--radius-button);
    color: var(--color-primary);
    background-color: var(--color-white);
    border:  1px solid var(--color-primary);
    cursor: pointer;
}

.button-secondary:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}

/*= End Buttons =*/

/*= Inputs  =*/



.inputs-container {
    width: 100%;
    gap: var(--spacing-15);
}

.input-container {
    width: 100%;
}

.input-label {
    display:  block;
    padding-bottom:  var(--spacing-10);
    font-weight: var(--font-medium);
}

.input-field {
    height: var(--height-large);
    border: 1px solid var(--color-border);
    background-color:  var(--color-white);
    font-size: var(--font-16);
    border-radius: var(--radius-input);
    padding: var(--spacing-15);
    width: 100%;
}

.input-field:hover {
    border-color: var(--color-field-hover);
}

.input-field:focus {
    outline: none;
    border-color: var(--color-primary);
}

/*= End Inputs  =*/

/*= Layouts =*/
.flex {
    display: flex;
    gap: var(--spacing-15);
    align-items: center;
}

.content-container {
    padding: 0 20px;
    /* height: 100vh; */
    margin: auto auto;
    width: 100%;
    margin: 30px 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center__column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

/*= End Layouts =*/


/*** End General Component Classes ***/

/** Auth Form **/

.title-button__container {
    width: var(--spacing-15);
    width: 100%;
    align-items: center;
    gap: var(--spacing-20);
}

.form-title {
    font-size: var(--font-24);
    font-weight: var(--weight-semibold);
    text-align: center;
}

.form-forgot-password {
    color: var(--color-black);
    width: max-content;
    font-size: var(--font-16);
    font-weight: var(--weight-bold);
}

.form-forgot-password:hover {
    color: var(--color-primary);
}

.form-container {
    max-width: 600px;
    margin: auto auto;
    padding: var(--spacing-40) var(--spacing-35);
    box-shadow: var(--shadow-container);
    border-radius: var(--radius-container);
    flex-grow: 1;
    gap: var(--spacing-25);
}

.form-account-message {
    font-size: var(--font-18);
    text-align: center;
}

.to-signup-signin {
    font-weight: var(--weight-bold);
    color: var(--color-black);
}

.to-signup-signin:hover {
    color: var(--color-primary);
}

/** End Auth Form **/

/*** Home Page ***/

.main-body {
    margin: 20px 70px;
    gap: 10px;
    height: 100%;
}

.nav-left__links {
    flex-grow: 1;
    width: 100%;
}

ul > li {
    flex-grow: 1;
    max-width: 100%;
    white-space: nowrap;
}

.nav-login__button {
    width: 200px;
}

.hero-section {
    margin-top: 50px;
}

.hero-section__content {
    width: 60%;
    margin: 0 auto;
    gap: 20px;
    align-items: center;
}

.hero-section__content p {
    text-align: center;
}

.hero-section__content p:nth-child(1) {
    color: var(--color-purple);
    background-color: var(--color-purple-light);
    padding: 5px 10px;
    border-radius: var(--radius-button);
    font-size: var(--font-13);
    font-weight: var(--weight-bold);
    width: max-content;
    margin: 0 auto;
}

.hero-section__content p:nth-child(2) {
    font-size: var(--font-52);
    font-weight: var(--weight-bold);
    width: 70%;
}

.hero-section__content p:nth-child(2) span {
    color: var(--color-primary);
}

.hero-section__content p:nth-child(3) {
    width: 70%;
}





/**Nav Bar **/

/**End NavBar **/


/*** End Home Page ***/


