*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  outline: none;
  list-style:  none;
  font-family: 'Nunito', sans-serif;
}

:root {
    /**UI Font Weights**/
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-extrabold: 800;
    --weight-black: 900;
    --weight-1000: 1000;

    /**UI Font Sizes **/
    --font-10: 10px;
    --font-12: 12px;
    --font-13: 13px;
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-21: 21px;
    --font-24: 24px;
    --font-30: 30px;
    --font-45: 45px;
    --font-50: 50px;
    --font-52: 52px;

    /** UI Colors**/
    --color-primary: #346AF2;
    --color-border: #E3E3E3;
    --color-white: #ffffff;
    --color-field-hover: #94BDFF;
    --color-black: #000000;
    --color-purple: #DF50F6;
    --color-purple-light: #FFE3FF;
    --color-yellow: #F2BB47;
    --color-link-hover: #0031B9;

    /** UI Spacings **/
    --spacing-50: 50px;
    --spacing-45: 45px;
    --spacing-40: 40px;
    --spacing-35: 35px;
    --spacing-30: 30px;
    --spacing-25: 25px;
    --spacing-20: 20px;
    --spacing-15: 15px;
    --spacing-10: 10px;
    --spacing-5: 5px;

    /** UI Effects **/
    --shadow-container: 0px 10px 86px 10px rgba(52, 106, 242, 0.1);
    ;
    --shadow-button: 0px 5px 21px 0px rgba(52, 106, 242, 0.36);
    --shadow-card: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    --shadow-about: 0px 22px 50px 0px rgba(0, 0, 0, 0.31);



    /** UI Border Radius **/
    --radius-about: 56px;
    --radius-container: 46px;
    --radius-button: 100px;
    --radius-input: 10px;
    --radius-30: 30px;

    /** UI Heights **/
    --height-300: 300px;
    --height-65: 65px;
    --height-60: 60px;
    --height-55: 55px;
    --height-50: 50px;
    --height-40: 40px;

    /** Gradients **/
    --card-gradient: linear-gradient(115.31deg, #FEF6DC 4.65%, #F4D5DE 39.9%, #D7C1EC 73.57%);

}

/*** General Component Classes ***/

.main {
    height: 100vh;
    overflow-y: auto;
}

.logo {
    width: 150px;
}

a {
    color: var(--color-black);
}

a:hover {
    color: var(--color-primary);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    margin-bottom: 50px;
}

/*= Buttons =*/
.button-primary {
    height: var(--height-50);
    border-radius: var(--radius-button);
    color: var(--color-white);
    background-color: var(--color-primary);
    border:  1px solid var(--color-primary);
    padding: 18px;
    min-width: 100px;
    font-size: var(--font-18);
    width: 100%;
    cursor: pointer;
}

.button-primary:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
}


.button-secondary {
    height: var(--large-50);
    border-radius: var(--radius-button);
    color: var(--color-primary);
    background-color: var(--color-white);
    border:  1px solid var(--color-primary);
    cursor: pointer;
}

.button-secondary:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}

/*= End Buttons =*/

/*= Inputs  =*/


.inputs-container {
    width: 100%;
    gap: var(--spacing-15);
}

.input-container {
    width: 100%;
}

.input-label {
    display:  block;
    padding-bottom:  var(--spacing-10);
    font-weight: var(--font-medium);
}

.input-field {
    height: var(--height-large);
    border: 1px solid var(--color-border);
    background-color:  var(--color-white);
    font-size: var(--font-16);
    border-radius: var(--radius-input);
    padding: var(--spacing-15);
    width: 100%;
}

.input-field:hover {
    border-color: var(--color-field-hover);
}

.input-field:focus {
    outline: none;
    border-color: var(--color-primary);
}

/*= End Inputs  =*/

/*= Layouts =*/
.flex {
    display: flex;
    gap: var(--spacing-15);
    align-items: center;
}

.content-container {
    padding: 0 20px;
    /* height: 100vh; */
    margin: auto auto;
    width: 100%;
    margin: 30px 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center__column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

/*= End Layouts =*/


/*** End General Component Classes ***/

/** Auth Form **/

.title-button__container {
    width: var(--spacing-15);
    width: 100%;
    align-items: center;
    gap: var(--spacing-20);
}

.form-title {
    font-size: var(--font-24);
    font-weight: var(--weight-semibold);
    text-align: center;
}

.form-forgot-password {
    color: var(--color-black);
    width: max-content;
    font-size: var(--font-16);
    font-weight: var(--weight-bold);
}

.form-forgot-password:hover {
    color: var(--color-primary);
}

.form-container {
    max-width: 600px;
    margin: auto auto;
    padding: var(--spacing-40) var(--spacing-35);
    box-shadow: var(--shadow-container);
    border-radius: var(--radius-container);
    flex-grow: 1;
    gap: var(--spacing-25);
}

.form-account-message {
    font-size: var(--font-18);
    text-align: center;
}

.to-signup-signin {
    font-weight: var(--weight-bold);
    color: var(--color-black);
}

.to-signup-signin:hover {
    color: var(--color-primary);
}

/** End Auth Form **/

/*** Home Page ***/

/** Section Generals **/

.section-titles {
    gap: 10px;
}

.section-titles__top-text {
    color: var(--color-purple);
    background-color: var(--color-purple-light);
    padding: 5px 10px;
    border-radius: var(--radius-button);
    font-size: var(--font-13);
    font-weight: var(--weight-bold);
    width: max-content;
    margin: 0 auto;
}

.section-titles__middle-text {
    font-weight: var(--weight-bold);
    font-size: var(--font-45);
}

/* .section-titles__bottom-text {

} */

/** End Section Generals **/

.main-body {
    padding: 20px 70px;
    gap: 10px;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/**Nav Bar **/

.nav-left__links {
    flex-grow: 1;
    width: 100%;
}

ul > li {
    flex-grow: 1;
    max-width: 100%;
    white-space: nowrap;
}

.nav-login__button {
    width: 200px;
}

/**End NavBar **/

.hero-section {
    margin-top: 50px;
    gap: 30px;
}

/** Hero Main Items **/
.hero-section__content {
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    align-items: center;
}

.hero-section__content p:nth-child(1) {
    text-align: center;
}


.hero-section__content p:nth-child(2) {
    font-size: var(--font-52);
    font-weight: var(--weight-bold);
    width: 70%;
    text-align: center;
}

.hero-section__content p:nth-child(2) span {
    color: var(--color-primary);
}

.hero-section__content p:nth-child(3) {
    width: 70%;
    text-align: center;
}

.hero-section__bottom {
    width: 100%;
    height: var(--height-300);
    margin: 0 auto;
    justify-content: center;
}

.hero-section__bottom > img:nth-child(1) {
    width: 60%;
    border-radius: var(--radius-30);
}

.hero-section__bottom > img:nth-child(2) {
    width: 35%;
    border-radius: var(--radius-30);
}

/** End Hero Main Items **/

/** AD Section  **/

.copy-section {
    justify-content: space-between;
}

.copy-section .section-titles__top-text {
    margin: 0;
}

.copy-section__left {
    display: flex;
}

.copy-circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.copy-circle img {

    display: flex;
    width: 100%;
}

.copy-circle__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.copy-image {
    margin-left: -120px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.copy-image img {
    width: 100%;
    height: max-content;
}

.copy-circle__content {
    z-index: 1;
}

.copy-circle__content p:nth-child(1) {
    color: var(--color-white);
    font-size: var(--font-50);
}

.copy-circle__content p:nth-child(2) {
    color: var(--color-white);
    font-size: var(--font-16);
    /* font-weight: var(--weight-medium); */
}

/** End AD Section **/

/** Feature Section **/


.features-section {
    justify-content: space-between;
    align-items: stretch;
}

.card-container {
    box-shadow: var(--shadow-card);
    border-radius: var(--radius-30);
    padding: 16px 16px 29px 16px;
    gap: 20px;
}

.card-image-container {
    background: var(--card-gradient);
    border-radius: var(--radius-30);
    padding-left: var(--spacing-40);
    padding-top: var(--spacing-40);
    position: relative;
    padding-bottom: 0;
}

.card-image img {
    margin-bottom: -6px;
}

.card-icon {
    width: var(--height-65);
    height: var(--height-65);
    border-radius: 50%;
    background-color: var(--color-primary);
    margin-top: -37px;
    position: absolute;
}

.card-icon img {
    width: auto;
    height: auto;
}



.card-title {
    margin-top: 20px;
    font-size: var(--font-24);
    font-weight: var(--weight-bold);
}

.card-link {
    height: 5px;
    width: 100%;
    width: max-content;
}

.card-link {
    color: var(--color-primary);
}

.card-link:hover {
    color: var(--color-link-hover);
}

/** End Feature Section **/

/** About Section **/

.about-section {
    gap: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.about-section .section-titles {
    align-items: center;
}

.about-section p {
    text-align: center;
}

.about-section__bottom {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: var(--radius-about);
    box-shadow: var(--shadow-about);
}
.about-section__bottom img {
    width: 100%;
    height: 411px;
    border-radius: var(--radius-about);
}

/** End About Section **/

/** More  Section **/
.more-section {
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 100px;
}

.more-section .section-titles__top-text {
    margin: 0;
}

.more-section__left {
    gap: 40px;
    width: 90%;
}

.more-section__left-image {


}

.more-section__left-image img {
    border-radius: var(--radius-30);
    height: 539px;
    /* width: 90%; */
}

.more-section__right {
    /* width: 50%; */
    margin-top: -50px;
    align-content: flex-end;
    width: 90%;
    gap: var(--spacing-45);

}

.more-section__right-content {
    gap: var(--spacing-30);
}

.more-section__right-image {
    /* width: 200px; */
    /* justify-content: flex-end; */
}

.more-section__right-image img {
    border-radius: var(--radius-30);
    height: 539px;
    
}

/** End More  Section **/


/*** End Home Page ***/

/*** Media queries ***/
@media screen and (min-width: 1250px) {
    .main-body {
        padding: 20px 150px;
    }
}
